:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --main-color: #0CB6734D;
  --bar-fill-color: #05AC6A;
  --bar-color: #C5C6C5;
  --progress-width: 0%;
  --buffered-width: 0%;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex: auto;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.25s;
  background: transparent;
}

h3 {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}