.progress-bar {
  display: flex;
  width: 75%;
  height: 4px;
  background-color: var(--bar-color);
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
}

.progress-bar_filled {
  height: 4px;
  background-color: var(--bar-fill-color);
  opacity: .8;
  border-radius: 5px;
  width: var(--progress-width);
}